@media all and (min-width: 992px) and (max-width: 1199.98px) {
    /* ===================================== Layout Styles ===================================== */
    .container {
        max-width: 980px;
    }

    .row-cols-md-4 > * {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }

    /* ------------============== Footer ==============------------ */
    .footer .footer-top ul.footer-list li.footer-item:first-child .footer-logo > a {
        width: 60%;
    }

    /* ------------============== End Footer ==============------------ */

    /* ===================================== End Layout Styles ===================================== */

    /* ------------============== Home ==============------------ */
    .home-product-main .home-right-side .home-services .box-content .main-services .service {
        flex-wrap: wrap;
        justify-content: center;
        gap: var(--ten-pixels);
        text-align: center;
    }

    /* ------------============== End Home ==============------------ */

    /* ------------============== Home & Products ==============------------ */
    :is(.home-product-main, .products-main) .left-side {
        width: 33.33333333%;
    }

    :is(.home-product-main, .products-main) .right-side {
        width: 66.66666667%;
    }

    /* ------------============== End Home & Products ==============------------ */

    /* ------------============== Login ==============------------ */
    .log-reg-main .auth-form .login-user-actions {
        font-size: var(--thirteen-pixels);
    }

    /* ------------============== End Login ==============------------ */

    /* ------------============== Checkout ==============------------ */
    .checkout-main .left-side .shipping-payment {
        padding-inline: var(--forty-eight-pixels) !important;
    }

    /* ------------============== End Checkout ==============------------ */
}
