@media all and (max-width: 575.98px) {
    /* ===================================== Layout Styles ===================================== */
    body {
        font-size: var(--twelve-pixels);
    }

    /* ------------============== Top Bar ==============------------ */
    .top-bar .top-bar-content :is(.top-info, .top-social) {
        display: none !important;
    }

    .top-bar .top-bar-content .top-date {
        justify-content: center !important;
    }

    /* ------------============== End Top Bar ==============------------ */

    /* ------------============== Header ==============------------ */
    .header .header-logo {
        width: 25% !important;
    }

    .header .header-user :is(.header-user-account .header-user-account-content .user-icon, .header-user-cart .header-user-cart-content .cart-icon) {
        width: var(--forty-pixels);
        margin: 0 !important;
        border: none !important;
    }

    .header .header-user :is(.header-user-account-content:hover .user-icon, .header-user-cart-content:hover .cart-icon) {
        background-color: transparent;
    }

    .header .header-user .dropdown-menu {
        inset: calc(var(--thirty-two-pixels) + 100%) calc(var(--twelve-pixels) * -1) auto auto !important;
    }

    /* ------------============== End Header ==============------------ */

    /* ------------============== Footer ==============------------ */
    .footer .footer-top ul.footer-list li.footer-item:first-child .footer-logo > a {
        width: 40% !important;
    }

    /* ------------============== End Footer ==============------------ */

    /* ===================================== End Layout Styles ===================================== */

    /* ------------============== Home & Products ==============------------ */
    .product-info-price .old-price {
        font-size: var(--twelve-pixels) !important;
    }

    .home-product-main .product-right-side .product-details-reviews .product-details-reviews-content {
        padding-inline: var(--fifteen-pixels);
    }

    .home-product-main .product-right-side .product-details-reviews .product-details-reviews-content .reviews .review-form .review-body .submit-review-btn {
        width: 100%;
    }

    .products-main {
        padding-block: var(--forty-pixels) !important;
    }

    /* ------------============== End Home & Products ==============------------ */

    /* ------------============== Profile ==============------------ */
    .profile-main .top-side .profile-title {
        font-size: var(--twenty-pixels) !important;
    }

    /* ------------============== End Profile ==============------------ */

    /* ------------============== Cart ==============------------ */
    .cart-main .cart .update-cart-form ul.cart-products li.cart-product .cart-product-total-price {
        width: 40%;
    }

    .cart-main .cart .update-cart-form .cart-buttons {
        flex-direction: column;
        gap: var(--sixteen-pixels);
    }

    /* ------------============== End Cart ==============------------ */

    /* ------------============== Checkout ==============------------ */
    .checkout-main .left-side .shipping-payment {
        padding-inline: var(--thirty-two-pixels) !important;
    }

    .checkout-main .left-side .shipping-payment .shipping-payment-main .shipping-details .shipping-details-header {
        flex-direction: column;
        gap: var(--sixteen-pixels);
    }

    .checkout-main .left-side .shipping-payment .shipping-payment-main .shipping-details .shipping-details-header :is(.shipping-details-title, .shipping-details-new-address) {
        width: 100% !important;
    }

    /* ------------============== End Checkout ==============------------ */

    /* ------------============== Order Details ==============------------ */
    .order-details-main .left-side .order-details-info-wrapper {
        padding-inline: var(--thirteen-pixels) !important;
    }

    /* ------------============== End Order Details ==============------------ */

    /* ------------============== Common between (Checkout) and (Order Details) Pages ==============------------ */
    .right-side .total-order-products ul.order-products li.order-product-item {
        flex-direction: column;
        gap: var(--four-pixels);
    }

    .right-side .total-order-products ul.order-products li.order-product-item :is(.order-product-img-info, .order-product-total-amount) {
        width: 100% !important;
    }

    .right-side .total-order-products ul.order-products li.order-product-item .order-product-total-amount {
        justify-content: center !important;
    }

    /* ------------============== End Common between (Checkout) and (Order Details) Pages ==============------------ */

    /* ------------============== About Us & Contact Us ==============------------ */
    :is(.about-us-main, .contact-us-main) .box-content .box-title {
        max-width: 100% !important;
    }

    /* ------------============== End About Us & Contact Us ==============------------ */
}
