@media all and (max-width: 1299.98px) {
    /* ------------============== Dashboard ==============------------ */
    .dashboard-main :is(.left-side, .right-side) {
        flex: 0 0 auto;
        width: 100%;
        padding: 0 !important;
    }

    .dashboard-main .left-side .recent-customers-orders .customers-orders-table {
        padding-block: var(--twenty-pixels);
    }

    /* ------------============== End Dashboard ==============------------ */
}
