/* --------- Preloader --------- */
@keyframes cart-lines {
    from,
    to {
        opacity: 0;
    }

    8%,
    92% {
        opacity: 1;
    }
}

@keyframes cart-top {
    from {
        stroke-dashoffset: -338;
    }

    50% {
        stroke-dashoffset: 0;
    }

    to {
        stroke-dashoffset: 338;
    }
}

@keyframes cart-wheel1 {
    from {
        -ms-transform: rotate(-0.25turn);
        transform: rotate(-0.25turn);
    }

    to {
        -ms-transform: rotate(2.75turn);
        transform: rotate(2.75turn);
    }
}

@keyframes cart-wheel2 {
    from {
        -ms-transform: rotate(0.25turn);
        transform: rotate(0.25turn);
    }

    to {
        -ms-transform: rotate(3.25turn);
        transform: rotate(3.25turn);
    }
}

@keyframes cart-wheel-stroke {
    from,
    to {
        stroke-dashoffset: 81.68;
    }

    50% {
        stroke-dashoffset: 40.84;
    }
}

/* --------- Contact Us --------- */
@keyframes fly-send {
    from {
        -ms-transform: translateY(var(--two-pixels));
        transform: translateY(var(--two-pixels));
    }

    to {
        -ms-transform: translateY(calc(var(--two-pixels) * -1));
        transform: translateY(calc(var(--two-pixels) * -1));
    }
}

/* --------- Error Code --------- */
@keyframes swing {
    from {
        transform: rotate(25deg);
    }

    50% {
        transform: rotate(-25deg);
    }

    to {
        transform: rotate(25deg);
    }
}
