/* --------- Carousel Nav Buttons --------- */
.owl-nav:not(.home-product-main .product-right-side .product-imgs-info .product-images .product-thumb-images-carousel .owl-nav) {
    position: absolute;
    top: calc((var(--sixty-four-pixels) + var(--four-pixels)) * -1);
    right: 0;
}

.owl-nav button {
    width: var(--thirty-pixels);
    height: var(--thirty-pixels);
    border: var(--border) !important;
    border-radius: var(--two-pixels) !important;
    color: var(--mute-color) !important;
}

.owl-nav button:hover {
    border: var(--main-border);
    background-color: var(--main-color) !important;
    color: var(--white-color) !important;
}

/* --------- Carousel Dots --------- */
.owl-dots .owl-dot.active > span {
    background-color: var(--main-color) !important;
}

.owl-dots .owl-dot:not(.owl-dot.active) > span {
    background-color: var(--body-text-color) !important;
}

.owl-dots .owl-dot:not(.owl-dot.active):hover > span {
    background-color: #869791 !important;
}
