@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');

/* ===================================== Errors Styles ===================================== */

/* =================================== Main Body =================================== */
.error-main {
    background: linear-gradient(#0c0e10, #446182);
}

.error-main .main-sides {
    font-family: "Fira Sans", "Lobster", "Poppins", system-ui, sans-serif;
}

/*++++++++++++++++++++++++++++++++++++++++++++++*/


/* -------------================ Left Side ================------------- */
.error-main .left-side .door-hanger {
    width: calc(var(--forty-pixels) * 5);
    height: calc(var(--fifty-pixels) * 5);
    background: linear-gradient(0, #0c0e10, #446182);
    border-radius: var(--twenty-five-pixels);
    transform-origin: top center;
    animation: swing 5s ease-in-out infinite;
}

.error-main .left-side .door-hanger .top-hook {
    top: calc(var(--fifteen-pixels) * -1);
    transform: translateX(-50%);
    width: var(--thirty-pixels);
    height: var(--thirty-pixels);
}

.error-main .left-side .door-hanger .door-hanger-content .error-code {
    font-size: var(--sixty-four-pixels);
    text-shadow: 0 var(--two-pixels) var(--sixteen-pixels) var(--dropdown-background-color);
    color: var(--light-gray-color);
}

.error-main .left-side .door-hanger .door-hanger-content .error-status p {
    font-size: var(--twenty-pixels);
    color: var(--light-gray-color);
}

.error-main .left-side .error-desc {
    font-size: var(--twenty-four-pixels);
    color: var(--light-gray-color);
}

/*++++++++++++++++++++++++++++++++++++++++++++++*/


/* -------------================ Right Side ================------------- */
.error-main .right-side {
    height: 70vh;
}

.error-main .right-side .error-svg #lamp .light-gradient stop:first-child {
    stop-color: var(--white-color);
    stop-opacity: 1;
}

.error-main .right-side .error-svg #lamp .light-gradient stop:nth-child(2) {
    stop-color: #ededed;
    stop-opacity: 0.5;
}

.error-main .right-side .error-svg #lamp .light-gradient stop:last-child {
    stop-color: #ededed;
    stop-opacity: 0;
}
