/* --------- Form --------- */
.grace-form.auth-form {
    gap: var(--thirty-pixels);
    padding: var(--fifteen-pixels);
}

.grace-form .grace-form-header {
    gap: var(--fifteen-pixels);
}

.grace-form .grace-form-body {
    gap: var(--twenty-pixels);
}

.grace-form .grace-form-body input.form-control {
    padding: var(--ten-pixels) var(--fifteen-pixels);
    line-height: 0;
}

.grace-form .grace-form-body label.form-label {
    top: 20%;
    -webkit-transform-origin: 0 calc(var(--thirty-two-pixels) * -1);
    transform-origin: 0 calc(var(--thirty-two-pixels) * -1);
}

.grace-form .grace-form-body label.textarea-label {
    top: 10%;
}

.grace-form .grace-form-body .form-control:focus ~ label.form-label {
    color: var(--main-color);
}

.grace-form .grace-form-body label.label-select {
    top: 40%;
    margin-left: var(--one-pixel);
    padding-inline: var(--thirteen-pixels);
    background-color: var(--white-color);
    color: #737373;
    z-index: 2;
}

.grace-form .grace-form-body label.label-select + select {
    font-size: var(--fourteen-pixels);
}

.grace-form .grace-form-body .form-group .select-wrapper :is(input, ul, svg) {
    display: none;
}

.grace-form .grace-form-body .form-notch div {
    border-color: var(--border-color);
}

.grace-form .grace-form-body .form-control:focus ~ .form-notch :is(.form-notch-leading, .form-notch-middle, .form-notch-trailing) {
    border: none;
}

.grace-form .grace-form-body :is(.form-control:focus, .form-control:focus ~ .form-notch :is(.form-notch-leading, .form-notch-middle, .form-notch-trailing)) {
    border-color: var(--main-color);
}

.grace-form .grace-form-body .form-control:focus ~ .form-notch .form-notch-leading {
    border-radius: var(--two-pixels) 0 0 var(--two-pixels);
    -webkit-box-shadow: calc(var(--one-pixel) * -1) 0 0 0 var(--main-color), 0 var(--one-pixel) 0 0 var(--main-color), 0 calc(var(--one-pixel) * -1) 0 0 var(--main-color);
    -moz-box-shadow: calc(var(--one-pixel) * -1) 0 0 0 var(--main-color), 0 var(--one-pixel) 0 0 var(--main-color), 0 calc(var(--one-pixel) * -1) 0 0 var(--main-color);
    -o-box-shadow: calc(var(--one-pixel) * -1) 0 0 0 var(--main-color), 0 var(--one-pixel) 0 0 var(--main-color), 0 calc(var(--one-pixel) * -1) 0 0 var(--main-color);
    box-shadow: calc(var(--one-pixel) * -1) 0 0 0 var(--main-color), 0 var(--one-pixel) 0 0 var(--main-color), 0 calc(var(--one-pixel) * -1) 0 0 var(--main-color);
}

.grace-form .grace-form-body .form-control:focus ~ .form-notch .form-notch-middle {
    -webkit-box-shadow: 0 var(--one-pixel) 0 0 var(--main-color);
    -moz-box-shadow: 0 var(--one-pixel) 0 0 var(--main-color);
    -o-box-shadow: 0 var(--one-pixel) 0 0 var(--main-color);
    box-shadow: 0 var(--one-pixel) 0 0 var(--main-color);
}

.grace-form .grace-form-body .form-control:focus ~ .form-notch .form-notch-trailing {
    -webkit-box-shadow: var(--one-pixel) 0 0 0 var(--main-color), 0 calc(var(--one-pixel) * -1) 0 0 var(--main-color), 0 var(--one-pixel) 0 0 var(--main-color);
    -moz-box-shadow: var(--one-pixel) 0 0 0 var(--main-color), 0 calc(var(--one-pixel) * -1) 0 0 var(--main-color), 0 var(--one-pixel) 0 0 var(--main-color);
    -o-box-shadow: var(--one-pixel) 0 0 0 var(--main-color), 0 calc(var(--one-pixel) * -1) 0 0 var(--main-color), 0 var(--one-pixel) 0 0 var(--main-color);
    box-shadow: var(--one-pixel) 0 0 0 var(--main-color), 0 calc(var(--one-pixel) * -1) 0 0 var(--main-color), 0 var(--one-pixel) 0 0 var(--main-color);
}

.grace-form .grace-form-body :is(.remember-check, .image-background-check) {
    padding-left: var(--twenty-five-pixels);
    color: var(--black-color);
}

.grace-form .grace-form-body :is(.remember-check, .image-background-check) > input[type="checkbox"]:checked ~ :is(.remember-title, .check-image-background-title) {
    font-weight: 500;
    color: var(--main-color);
}

.grace-form .grace-form-body .product-thumb-images {
    max-height: calc(var(--thirty-two-pixels) * 10);
}

.grace-form .grace-form-footer .title {
    font-size: var(--fifteen-pixels);
    white-space: nowrap;
    color: var(--body-text-color);
}

.grace-form .grace-form-footer .title::before,
.grace-form .grace-form-footer .title::after {
    content: "";
    flex: 1;
    border-bottom: var(--gray-border);
}

.grace-form .grace-form-footer .title:not(:empty)::before {
    margin-right: var(--ten-pixels);
}

.grace-form .grace-form-footer .title:not(:empty)::after {
    margin-left: var(--ten-pixels);
}

.grace-form .grace-form-footer .social-login a {
    padding: var(--thirteen-pixels);
    border: var(--border);
    background: transparent;
}

.grace-form .grace-form-footer .social-login a:hover span {
    font-weight: 600 !important;
    color: var(--black-color);
}

.grace-form .grace-form-footer .social-login a::before {
    content: "";
    position: absolute;
    inset: auto auto 0 0;
    width: 100%;
    height: 0;
    background: linear-gradient(0deg, #d3215a1c 0%, #d3215a00 50%, #d3215a0a 100%);
}

.grace-form .grace-form-footer .social-login a:hover::before {
    height: 100%;
}

.form-select:focus {
    border-color: var(--main-color);
}

/* --------- Form Errors --------- */
.grace-form-error {
    display: none;
}

.grace-form-error > ul.form-error {
    margin-top: calc(var(--nine-pixels) * -1);
    list-style: none;
}

.grace-form-error:not(:last-child) > ul.form-error li {
    margin-bottom: var(--ten-pixels);
}

.grace-form-error > ul.form-error li::before {
    content: "\f057";
    font: var(--fa-font-regular);
    margin-right: var(--ten-pixels);
}

.grace-form-error.show-error {
    display: block;
    margin-bottom: calc(var(--five-pixels) * -1);
}
