/* --------- Number Inputs --------- */
input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* --------- Radios --------- */
input[type="radio"] {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
}

input[type="radio"] + .custom-check {
    width: var(--eighteen-pixels);
    height: var(--eighteen-pixels);
    border: var(--one-pixel) solid #cacaca;
    border-radius: 50%;
    background-color: var(--white-color);
}

input[type="radio"]:checked + .custom-check::after {
    content: "";
    position: absolute;
    inset: var(--four-pixels) auto auto 4px;
    display: block;
    width: var(--eight-pixels);
    height: var(--eight-pixels);
    background-color: #ff6498;
    border: var(--main-border);
    border-radius: 50%;
}

/* --------- Checkboxes --------- */
input[type="checkbox"] {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
}

input[type="checkbox"] + .custom-check {
    width: var(--sixteen-pixels);
    height: var(--sixteen-pixels);
    margin-right: var(--twelve-pixels);
    border: var(--gray-border);
    border-radius: var(--four-pixels);
    background-color: var(--white-color);
}

:is(input[type="checkbox"]:checked, input[type="checkbox"]:indeterminate) ~ .custom-check::after {
    content: "";
    position: absolute;
    inset: var(--two-pixels) auto auto var(--two-pixels);
    display: block;
    width: var(--ten-pixels);
    height: var(--ten-pixels);
}

/* --------- Multi Selects --------- */
.filter-multi-select > .viewbar {
    font-size: var(--fourteen-pixels);
    white-space: normal;
}

.filter-multi-select > .viewbar > .selected-items > .item {
    display: inline-flex;
    align-items: center;
    height: var(--thirty-pixels);
    margin: var(--two-pixels) var(--four-pixels) var(--two-pixels) 0;
    padding: var(--eight-pixels);
    border-radius: var(--twenty-five-pixels);
    color: var(--white-color);
    background-color: var(--main-color);
    vertical-align: baseline;
}

.filter-multi-select > .viewbar > .selected-items > .item > button {
    margin-left: var(--seven-pixels);
    color: var(--white-color);
}

.filter-multi-select > .viewbar > .selected-items > .item > button:hover {
    color: var(--second-color);
}

.filter-multi-select > .dropdown-menu {
    width: 100%;
    margin-top: var(--two-pixels);
    padding-block: var(--eight-pixels);
    z-index: 3;
    border: var(--one-pixel) solid rgba(0, 0, 0, 0.15);
    border-radius: var(--four-pixels);
    overflow-y: auto;
}

.filter-multi-select > .dropdown-menu > .filter {
    padding-inline: var(--thirteen-pixels);
}

.filter-multi-select > .dropdown-menu > .filter > input {
    padding: var(--eight-pixels) var(--twelve-pixels) !important;
    font-size: var(--fourteen-pixels);
}

.filter-multi-select > .dropdown-menu > .filter > button {
    position: absolute;
    top: var(--twenty-six-pixels);
    right: var(--twenty-four-pixels);
    color: var(--mute-color);
}

.filter-multi-select > .dropdown-menu > .filter > button:hover {
    color: var(--second-color);
}

.filter-multi-select .dropdown-item {
    padding: var(--seven-pixels) var(--twenty-pixels);
    background-color: transparent;
}

.filter-multi-select .dropdown-item .custom-control-label {
    position: relative;
    display: inline;
}

.filter-multi-select .dropdown-item .custom-control:first-child > .custom-control-label {
    font-weight: 600;
    border-bottom: var(--border);
}

.filter-multi-select .dropdown-item .custom-control-label::before,
.filter-multi-select .dropdown-item .custom-control-label::after {
    content: "";
    position: absolute;
    top: calc(((var(--two-pixels) - var(--one-pixel)) / 2) + var(--two-pixels));
    left: calc(var(--twenty-four-pixels) * -1);
    display: block;
    width: var(--sixteen-pixels);
    height: var(--sixteen-pixels);
}

.filter-multi-select .dropdown-item .custom-control-label::before {
    border: var(--gray-border);
    border-radius: var(--four-pixels);
    background-color: var(--white-color);
    pointer-events: none;
}

.filter-multi-select .dropdown-item .custom-control-label::after {
    background: no-repeat 50% / 50% 50%;
}

.filter-multi-select button {
    font-size: var(--sixteen-pixels);
    font-weight: bold;
    border: 0;
    background-color: transparent;
}

/* --------- Common between Checkboxes & Multi Selects --------- */
input[type="checkbox"]:checked ~ .custom-check,
.filter-multi-select .dropdown-item .custom-checkbox:checked ~ .custom-control-label::before {
    border-color: var(--second-color);
    background-color: var(--main-color);
}

input[type="checkbox"]:indeterminate ~ .custom-check,
.filter-multi-select .dropdown-item .custom-checkbox:indeterminate ~ .custom-control-label::before {
    border-color: var(--main-color);
    background-color: var(--second-color);
}

input[type="checkbox"]:checked ~ .custom-check::after,
.filter-multi-select .dropdown-item .custom-checkbox:checked ~ .custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23FFFFFF' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

input[type="checkbox"]:indeterminate ~ .custom-check::after,
.filter-multi-select .dropdown-item .custom-checkbox:indeterminate ~ .custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3e%3cpath stroke='%23FFFFFF' d='M0 2h4'/%3e%3c/svg%3e");
}

/* --------- Search --------- */
input[type="search"] {
    padding-block: var(--eight-pixels);
    font-size: var(--fourteen-pixels);
}

input[type=search]::-webkit-search-cancel-button {
    display: none;
}
