/* ===================================== Layout Styles ===================================== */
.row {
    --mdb-gutter-x: 0;
}

.place-items-center {
    place-items: center !important;
}

/*++++++++++++++++++++++++++++++++++++++++++++++*/


/* ------------============== Top Bar ==============------------ */
.top-bar {
    padding-block: var(--thirteen-pixels);
    border-bottom: var(--one-pixel) solid rgba(255, 255, 255, 0.1);
    background-color: var(--light-gray-color);
}

/*++++++++++++++++++++++++++++++++++++++++++++++*/


/* ------------============== Header ==============------------ */
.header {
    padding-block: var(--eighteen-pixels);
}

.header .header-logo a {
    width: calc(var(--sixty-four-pixels) + var(--sixty-four-pixels));
}

.header .header-user :is(.header-user-account .header-user-account-content .user-icon, .header-user-cart .header-user-cart-content .cart-icon) {
    width: var(--fifty-pixels);
    height: var(--fifty-pixels);
    color: var(--black-color);
}

.header .header-user :is(.header-user-account-content:hover .user-icon, .header-user-cart-content:hover .cart-icon) {
    background-color: var(--second-color);
}

.header .header-user .header-user-account .header-user-account-content {
    margin-left: calc(var(--thirty-two-pixels) * -1);
}

.header .header-user .dropdown-menu {
    inset: calc(var(--twenty-two-pixels) + 100%) 0 auto auto !important;
    z-index: 15;
    color: var(--black-color);
    -ms-transform: none !important;
    transform: none !important;
}

.header .header-user .header-user-account .account-menu.dropdown-menu {
    inset: calc(var(--twenty-pixels) + 100%) auto auto !important;
}

.header .header-user .header-user-account .account-menu :is(a, button) {
    padding: var(--twelve-pixels) var(--sixteen-pixels);
    background: transparent;
}

.header .header-user .header-user-account .account-menu :is(a, button):hover {
    background-color: var(--light-gray-color);
}

.header .header-user .dropdown-toggle::after {
    display: none;
}

.header .header-user .header-user-cart .header-user-cart-content .cart-icon .cart-total-items {
    width: var(--fifteen-pixels);
    height: var(--fifteen-pixels);
    font-size: var(--eleven-pixels);
    background-color: var(--main-color);
}

.header .header-user .header-user-cart .cart-menu {
    width: calc(var(--sixty-pixels) * 5.33);
}

.header .header-user .header-user-cart .cart-menu ul {
    padding: var(--fifteen-pixels);
}

.header .header-user .header-user-cart .cart-menu ul.cart-details {
    max-height: calc((var(--sixty-four-pixels) * 3) + var(--sixteen-pixels));
    overflow-y: auto;
}

.header .header-user .header-user-cart .cart-menu ul.cart-details li.cart-product:not(:first-child) {
    margin-top: var(--twenty-four-pixels);
}

.header .header-user .header-user-cart .cart-menu ul.cart-details li.cart-product:not(:first-child)::before {
    content: "";
    position: absolute;
    top: calc(var(--twelve-pixels) * -1);
    left: 50%;
    width: 90%;
    border-top: var(--gray-border);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.header .header-user .header-user-cart .cart-menu .cart-details .cart-product .cart-product-img {
    width: var(--sixty-pixels);
    height: var(--sixty-pixels);
    background-color: var(--light-gray-color);
}

.header .header-user .header-user-cart .cart-menu .cart-subtotal-btns .cart-btns .btn {
    padding: var(--ten-pixels) var(--fifteen-pixels);
}

.header .header-user .header-user-cart .cart-menu .cart-empty i {
    padding-top: var(--fifteen-pixels);
    font-size: calc(var(--sixty-four-pixels) + var(--twenty-six-pixels)) !important;
}

.header .header-user .header-user-cart .cart-menu .cart-empty p {
    padding-block: var(--ten-pixels);
    color: var(--black-color);
}

/*++++++++++++++++++++++++++++++++++++++++++++++*/


/* ------------============== Navbar ==============------------ */
.navbar {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--main-color);
}

.navbar .nav-search {
    display: none;
}

.navbar .nav-content .navbar-nav li.nav-item a > span::before {
    content: "";
    position: absolute;
    inset: 0 auto auto 0;
    width: 0;
    height: var(--six-pixels);
    opacity: 0;
    background-color: var(--second-color);
}

.navbar .nav-content .navbar-nav li.nav-item:hover a > span::before {
    width: 100%;
    opacity: 1;
}

.navbar .nav-content .navbar-nav li.nav-item .caret-icon {
    font-size: var(--ten-pixels);
}

.navbar .nav-content .navbar-nav li.nav-item ul.dropdown-content {
    top: var(--forty-one-pixels);
    row-gap: var(--forty-eight-pixels);
}

.navbar .nav-content .navbar-nav li.nav-item ul.dropdown-content li .dropdown-img {
    width: 50%;
    height: calc(var(--sixty-four-pixels) + var(--fifty-six-pixels));
    border: var(--main-border);
    border-radius: var(--twenty-pixels) 0 var(--twenty-pixels) 0;
}

.navbar .nav-content .navbar-nav li.nav-item ul.dropdown-content li .dropdown-name {
    margin-top: var(--ten-pixels);
    color: var(--black-color);
}

.navbar .nav-offer .offer-label {
    width: calc(var(--sixty-four-pixels) + var(--sixty-four-pixels) + var(--sixteen-pixels));
    height: var(--fifty-six-pixels);
    font: 500 var(--twenty-four-pixels)/1 'Lobster', 'Poppins', sans-serif;
    background-color: var(--second-color);
    color: var(--black-color);
}

.navbar .nav-offer .offer-label::after {
    content: "";
    position: absolute;
    inset: 50% calc(var(--eighteen-pixels) * -1) auto auto;
    display: block;
    width: var(--eighteen-pixels);
    height: var(--twenty-pixels);
    clip-path: polygon(100% 50%, 0 0, 0 100%);
    background-color: var(--second-color);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.navbar .nav-offer .offer-sale p {
    font-size: var(--sixteen-pixels);
}

/*++++++++++++++++++++++++++++++++++++++++++++++*/


/* ------------============== Footer ==============------------ */

/* ---------------- Footer Top ---------------- */
.footer .footer-top ul.footer-list {
    margin-left: calc(var(--thirty-pixels) * -1);
}

.footer .footer-top ul.footer-list li.footer-item {
    width: calc(16.66% - var(--thirty-pixels));
}

.footer .footer-top ul.footer-list li.footer-item:first-child {
    margin-top: calc(var(--thirty-pixels) * -1);
}

.footer .footer-top ul.footer-list li.footer-item:first-child .footer-logo > a {
    width: 50%;
}

.footer .footer-top ul.footer-list li.footer-item:first-child ul.footer-social-links li {
    margin-right: var(--ten-pixels);
}

.footer .footer-top ul.footer-list li.footer-item:first-child ul.footer-social-links li > a {
    width: var(--thirty-five-pixels);
    height: var(--thirty-five-pixels);
    background-color: var(--black-color);
}

.footer .footer-top ul.footer-list li.footer-item:first-child ul.footer-social-links li > a:hover {
    background-color: var(--main-color);
}

.footer .footer-top ul.footer-list :is(li.footer-item:first-child, li.footer-item:nth-child(5)) {
    width: calc(25% - var(--thirty-pixels));
}

.footer .footer-top ul.footer-list li.footer-item ul.footer-menu li > a::before {
    content: "\f105";
    font-family: FontAwesome, sans-serif;
    position: absolute;
    left: calc(var(--fifteen-pixels) * -1);
    color: var(--main-color);
}

.footer .footer-top ul.footer-list li.footer-item ul.footer-menu li > a:hover {
    padding-left: var(--twenty-pixels);
    color: var(--main-color);
}

.footer .footer-top ul.footer-list li.footer-item ul.footer-menu li > a:hover::before {
    left: 0;
}

.footer .footer-top ul.footer-list li.footer-item ul.footer-menu li > .contact-icon {
    line-height: 1.3;
    color: var(--main-color);
}

/* ---------------- Footer Bottom ---------------- */
.footer .footer-bottom {
    padding-block: var(--ten-pixels);
    background-color: var(--black-color);
}

.footer .footer-bottom p > a:hover {
    color: var(--second-color);
}

.footer .footer-bottom .scroll-to-top {
    inset: auto var(--thirty-pixels) var(--thirty-pixels) auto;
    opacity: 0;
    visibility: hidden;
}

.footer .footer-bottom .scroll-to-top.visible {
    opacity: 1;
    visibility: visible;
}

.footer .footer-bottom .scroll-to-top:hover {
    -webkit-box-shadow: 0 0 0 var(--fifteen-pixels) #0000001a !important;
    -moz-box-shadow: 0 0 0 var(--fifteen-pixels) #0000001a !important;
    -o-box-shadow: 0 0 0 var(--fifteen-pixels) #0000001a !important;
    box-shadow: 0 0 0 var(--fifteen-pixels) #0000001a !important;
}

.footer .footer-bottom .scroll-to-top:focus {
    color: var(--white-color);
}

/*++++++++++++++++++++++++++++++++++++++++++++++*/


/* ------------============== Common ==============------------ */
.products-search .search-form .search-products-btn {
    width: var(--sixty-pixels);
    font-size: var(--twenty-two-pixels);
    background-color: var(--second-color);
    color: var(--black-color);
}

.products-search .search-form .search-products-btn:hover {
    background-color: var(--main-color);
    color: var(--white-color);
}
