/* --------- Order Details --------- */
.order-details-main .main-sides {
    column-gap: var(--fifty-six-pixels);
    row-gap: var(--thirty-pixels);
}

.order-details-main .left-side .order-details-info {
    padding-block: var(--fifteen-pixels);
}

.order-details-main .left-side .order-details-info span {
    color: var(--black-color);
}

.order-details-main .right-side .total-order-products ul.order-products {
    max-height: calc((var(--forty-pixels) + var(--forty-pixels)) * 5);
}


/* ========================== Common between (Checkout) and (Order Details) Pages ========================== */
.right-side .total-order-products {
    padding-inline: var(--forty-pixels);
}

.right-side .total-order-products ul.order-products {
    max-height: calc(var(--thirty-two-pixels) * 10);
    overflow: auto;
}

.right-side .total-order-products ul.order-products li.order-product-item:first-child {
    padding-top: var(--sixteen-pixels);
}

.right-side .total-order-products ul.order-products li.order-product-item:not(:first-child)::before {
    content: '';
    width: 100%;
    padding: var(--twelve-pixels);
    border-top: var(--border);
}

.right-side .total-order-products ul.order-products li.order-product-item .order-product-img-info .order-product-image {
    background-color: var(--light-gray-color);
}

.right-side .total-order-products ul.order-products li.order-product-item .order-product-img-info .order-product-image > img {
    width: calc(var(--sixty-four-pixels) + var(--ten-pixels)) !important;
}

.right-side .total-order-products ul.order-products li.order-product-item .order-product-img-info .order-product-image .order-product-quantity {
    top: calc(var(--twelve-pixels) * -1);
    right: calc(var(--twelve-pixels) * -1);
    padding: var(--four-pixels) var(--six-pixels);
    background-color: #727272ff;
}

.right-side .total-order-products :is(ul.order-products li.order-product-item .order-product-total-amount, .order-total-summary :is(ul li span:last-child, div span:last-child)) {
    color: var(--black-color);
}
