#preloader {
    inset: 0;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.85);
}

#preloader .preloader-container .preloader-cart :is(.cart-lines, .cart-lines .cart-top, .cart-lines .cart-wheel1, .cart-lines .cart-wheel2, .cart-lines :where(.cart-wheel1, .cart-wheel2) .cart-wheel-stroke) {
    animation: cart-lines 2000ms ease-in-out infinite;
}

#preloader .preloader-container .preloader-cart .cart-lines {
    stroke: var(--main-color);
}

#preloader .preloader-container .preloader-cart .cart-lines .cart-top {
    animation-name: cart-top;
}

#preloader .preloader-container .preloader-cart .cart-lines .cart-wheel1 {
    animation-name: cart-wheel1;
    -ms-transform: rotate(-0.25turn);
    transform: rotate(-0.25turn);
    -webkit-transform-origin: 2.688rem 6.938rem;
    transform-origin: 2.688rem 6.938rem;
}

#preloader .preloader-container .preloader-cart .cart-lines .cart-wheel2 {
    animation-name: cart-wheel2;
    -ms-transform: rotate(0.25turn);
    transform: rotate(0.25turn);
    -webkit-transform-origin: 6.375rem 6.938rem;
    transform-origin: 6.375rem 6.938rem;
}

#preloader .preloader-container .preloader-cart .cart-lines :is(.cart-wheel1, .cart-wheel2) .cart-wheel-stroke {
    animation-name: cart-wheel-stroke;
}
