/* ===================================== Fonts ===================================== */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@300;400;500;600;700&display=swap');

/* ===================================== Root ===================================== */
:root {

    /* ----------- Colors ----------- */
    --main-color:                 #d3215a;
    --second-color:               #ffcc38;
    --body-text-color:            #666666;
    --mute-color:                 #999999;
    --black-color:                #222222;
    --white-color:                #ffffff;
    --gray-color:                 #cccccc;
    --light-gray-color:           #f5f5f5;
    --red-color:                  #ee433f;
    --border-color:               #e0e0e0;
    --box-shadow-color:           #00000008;
    --dropdown-background-color:  #fdfdfd;

    /* ----------- Font Sizes ----------- */
    --one-pixel:           0.063rem;
    --two-pixels:          0.125rem;
    --three-pixels:        0.188rem;
    --four-pixels:         0.25rem;
    --five-pixels:         0.313rem;
    --six-pixels:          0.375rem;
    --seven-pixels:        0.438rem;
    --eight-pixels:        0.5rem;
    --nine-pixels:         0.563rem;
    --ten-pixels:          0.625rem;
    --eleven-pixels:       0.688rem;
    --twelve-pixels:       0.75rem;
    --thirteen-pixels:     0.813rem;
    --fourteen-pixels:     0.875rem;
    --fifteen-pixels:      0.938rem;
    --sixteen-pixels:      1rem;
    --seventeen-pixels:    1.063rem;
    --eighteen-pixels:     1.125rem;
    --twenty-pixels:       1.25rem;
    --twenty-two-pixels:   1.375rem;
    --twenty-three-pixels: 1.438rem;
    --twenty-four-pixels:  1.5rem;
    --twenty-five-pixels:  1.563rem;
    --twenty-six-pixels:   1.625rem;
    --thirty-pixels:       1.875rem;
    --thirty-two-pixels:   2rem;
    --thirty-five-pixels:  2.188rem;
    --thirty-six-pixels:   2.25rem;
    --forty-pixels:        2.5rem;
    --forty-one-pixels:    2.563rem;
    --forty-five-pixels:   2.813rem;
    --forty-eight-pixels:  3rem;
    --fifty-pixels:        3.125rem;
    --fifty-six-pixels:    3.5rem;
    --sixty-pixels:        3.75rem;
    --sixty-four-pixels:   4rem;

    /* ----------- Boxes Shadow ----------- */
    --box-shadow: 0 0 var(--ten-pixels) var(--box-shadow-color);
    --dropdown-box-shadow: 0 var(--ten-pixels) var(--fifteen-pixels) calc(var(--three-pixels) * -1) rgb(0 0 0 / 7%), 0 var(--four-pixels) 6px calc(var(--two-pixels) * -1) rgb(0 0 0 / 5%);
    --admin-box-shadow: 0 var(--eight-pixels) var(--twenty-four-pixels) rgba(132, 139, 200, 0.18);

    /* ----------- Borders ----------- */
    --border:      var(--one-pixel) solid var(--border-color);
    --main-border: var(--one-pixel) solid var(--main-color);
    --gray-border: var(--one-pixel) solid var(--gray-color);

    /* ----------- Transitions ----------- */
    --trans-300: all 300ms ease;
    --trans-500: all 500ms ease;

    /* ----------- Smooth Scroll ----------- */
    scroll-behavior: smooth;
}
