.main-table {
    border-radius: var(--twenty-five-pixels);
    -webkit-box-shadow: var(--admin-box-shadow);
    -moz-box-shadow: var(--admin-box-shadow);
    -o-box-shadow: var(--admin-box-shadow);
    box-shadow: var(--admin-box-shadow);
}

.main-table .table th {
    line-height: 1.5;
    vertical-align: middle;
}

.main-table .table tbody tr {
    font-weight: 400;
}

.table-pagination:empty {
    padding-top: 0 !important;
}
