a,
a:hover,
select,
button,
.btn,
ul.dropdown-content,
.nav-offer .offer-sale p,
.grace-form .grace-form-body label.label-select,
input[type="checkbox"] + .custom-check,
.filter-multi-select .dropdown-item .custom-control-label::before,
.header .header-user :is(.header-user-account .header-user-account-content .user-icon, .header-user-cart .header-user-cart-content .cart-icon),
.navbar .nav-content .navbar-nav li.nav-item a > span::before,
.footer .footer-top ul.footer-list li.footer-item ul.footer-menu li > a::before,
.footer .footer-bottom .scroll-to-top,
.grace-form .grace-form-footer .social-login a::before,
.products-search .search-form .search-products-btn,
.clear-search-btn {
    -webkit-transition: var(--trans-300);
    -moz-transition: var(--trans-300);
    -ms-transition: var(--trans-300);
    -o-transition: var(--trans-300);
    transition: var(--trans-300);
}


.img-hover-effect::before,
.img-hover-effect:hover::before,
.img-hover-effect::after,
.img-hover-effect:hover::after,
.owl-nav button {
    -webkit-transition: var(--trans-500);
    -moz-transition: var(--trans-500);
    -ms-transition: var(--trans-500);
    -o-transition: var(--trans-500);
    transition: var(--trans-500);
}
