/* ======================================== Navigation Menu ======================================== */
.nav-menu {
    width: 15rem;
    padding-top: var(--thirty-pixels);
    z-index: 999;
    background-color: #171529;
}

.nav-menu * {
    color: var(--light-gray-color);
}

.nav-menu .nav-menu-content {
    gap: var(--forty-pixels);
}

.nav-menu .nav-menu-toggle {
    top: var(--fifty-pixels);
    right: calc(var(--eleven-pixels) * -1);
    width: var(--twenty-four-pixels);
    height: var(--twenty-four-pixels);
    font-size: var(--twenty-pixels);
    background-color: var(--second-color);
    cursor: pointer;
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.nav-menu .nav-menu-header {
    padding-inline: var(--ten-pixels);
}

.nav-menu .nav-menu-header .nav-menu-header-title {
    font-size: var(--eighteen-pixels);
}

.nav-menu .nav-menu-main {
    max-height: calc((var(--forty-eight-pixels) * 10) + var(--sixteen-pixels));
    overflow-x: hidden;
    overflow-y: auto;
}

.nav-menu .nav-menu-main :is(ul.nav-menu-list, ul.nav-submenu-list) {
    gap: var(--ten-pixels);
    padding-inline: 0;
}

.nav-menu .nav-menu-main ul.nav-menu-list li.nav-menu-list-item {
    padding: var(--fifteen-pixels);
}

.nav-menu .nav-menu-main ul.nav-menu-list :is(li.nav-menu-list-item.active, li.nav-menu-list-item:hover) {
    border-radius: var(--thirteen-pixels);
    background-color: #2b2849;
}

.nav-menu .nav-menu-main ul.nav-menu-list :where(:is(li.nav-menu-list-item.active, li.nav-menu-list-item:hover) > .nav-menu-item, li.nav-menu-list-item ul.nav-submenu-list :is(li.nav-submenu-list-item.active, li.nav-submenu-list-item:hover) > .nav-submenu-item) {
    padding-left: var(--fifteen-pixels);
    font-weight: 500;
}

.nav-menu .nav-menu-main ul.nav-menu-list :is(li.nav-menu-list-item.active, li.nav-menu-list-item:hover) > .nav-menu-item .nav-menu-item-icon {
    color: var(--main-color);
}

.nav-menu .nav-menu-main ul.nav-menu-list :is(li.nav-menu-list-item.active, li.nav-menu-list-item:hover) > .nav-menu-item :is(.nav-menu-item-title, .nav-menu-item-rotate-icon) {
    color: var(--second-color);
}

.nav-menu .nav-menu-main ul.nav-menu-list li.nav-menu-list-item.active > .nav-menu-item .nav-menu-item-rotate-icon.rotate-180 {
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.nav-menu .nav-menu-main ul.nav-menu-list li.nav-menu-list-item ul.nav-submenu-list {
    padding-block: var(--twenty-pixels) var(--five-pixels);
    font-size: var(--thirteen-pixels);
    background: transparent;
}

.nav-menu .nav-menu-main ul.nav-menu-list li.nav-menu-list-item ul.nav-submenu-list li.nav-submenu-list-item {
    padding-left: var(--fifteen-pixels);
}

.nav-menu .nav-menu-main ul.nav-menu-list li.nav-menu-list-item ul.nav-submenu-list :is(li.nav-submenu-list-item.active, li.nav-submenu-list-item:hover) {
    padding: var(--ten-pixels);
    background-color: #433f5e;
    border-radius: var(--ten-pixels);
}

.nav-menu .nav-menu-main ul.nav-menu-list li.nav-menu-list-item ul.nav-submenu-list li.nav-submenu-list-item > .nav-submenu-item .nav-submenu-item-title {
    color: #38dfe6;
}

.nav-menu .nav-menu-main ul.nav-menu-list li.nav-menu-list-item ul.nav-submenu-list :is(li.nav-submenu-list-item.active, li.nav-submenu-list-item:hover) > .nav-submenu-item .nav-submenu-item-title {
    color: #33f196;
}

.nav-menu .nav-menu-footer {
    padding-block: var(--twenty-pixels);
    border-radius: var(--ten-pixels);
    background-color: #2b2849;
    cursor: pointer;
}

.nav-menu .nav-menu-footer .logout-form .nav-menu-item-title {
    display: block;
}

/*********************************************************************/


/* ======================================== Closing Navigation Menu Actions ======================================== */
.nav-menu.close {
    width: var(--sixty-four-pixels);
}

.nav-menu.close .nav-menu-toggle {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.nav-menu.close :is(.nav-menu-header-title, .nav-menu-item-title, .nav-menu-item-rotate-icon, ul.nav-submenu-list, .nav-menu-footer .logout-form .nav-menu-item-title) {
    display: none;
    opacity: 0;
    visibility: hidden;
}

.nav-menu.close .nav-menu-header {
    padding-left: 0;
}

.nav-menu.close .nav-menu-main ul.nav-menu-list {
    padding-left: var(--nine-pixels);
}

.nav-menu.close .nav-menu-main ul.nav-menu-list li.nav-menu-list-item {
    padding-inline: 0;
}

.nav-menu.close .nav-menu-main ul.nav-menu-list :is(li.nav-menu-list-item.active, li.nav-menu-list-item:hover) {
    border-radius: 50%;
    background-color: transparent;
}

.nav-menu.close .nav-menu-main ul.nav-menu-list :is(li.nav-menu-list-item.active, li.nav-menu-list-item:hover) > .nav-menu-item {
    padding-left: 0;
}

.nav-menu.close .nav-menu-main ul.nav-menu-list :is(li.nav-menu-list-item.active > .nav-menu-item .nav-menu-item-title, :where(:is(li.nav-menu-list-item:hover, li.nav-menu-list-item.active) > .nav-menu-item .nav-menu-item-icon)) {
    color: var(--second-color) !important;
}

.nav-menu.close .nav-menu-main ul.nav-menu-list li.nav-menu-list-item:not(#orders_list, #reviews_list):hover > .nav-menu-item .nav-menu-item-title {
    display: block;
    position: absolute;
    left: var(--forty-five-pixels);
    padding-block: var(--five-pixels);
    padding-inline: var(--twenty-five-pixels) var(--ten-pixels);
    border-radius: 0 0.4rem 0.4rem 0;
    background-color: #171529;
    color: var(--white-color);
    opacity: 1;
    visibility: visible;
}

.nav-menu.close .nav-menu-main ul.nav-menu-list li.nav-menu-list-item:hover ul.nav-submenu-list {
    display: flex;
    position: absolute;
    left: var(--fifty-pixels);
    margin-top: calc(var(--sixteen-pixels) * -1);
    padding: var(--twenty-pixels);
    background-color: #171529;
    border-radius: 0 var(--ten-pixels) var(--ten-pixels) 0;
    opacity: 1;
    visibility: visible;
}

.nav-menu.close .nav-menu-main ul.nav-menu-list :is(li.nav-menu-list-item:not(#orders_list, #reviews_list):hover .nav-menu-item .nav-menu-item-title, li.nav-menu-list-item ul.nav-submenu-list)::before,
.nav-menu.close .nav-menu-main ul.nav-menu-list :is(li.nav-menu-list-item:not(#orders_list, #reviews_list):hover .nav-menu-item .nav-menu-item-title, li.nav-menu-list-item ul.nav-submenu-list)::after {
    content: "";
    position: absolute;
    left: 0;
    width: var(--twenty-five-pixels);
    height: var(--forty-pixels);
    z-index: -99;
    border-top-left-radius: var(--twenty-five-pixels);
    box-shadow: 0 calc(var(--twenty-five-pixels) * -1) 0 0 #171529;
}

.nav-menu.close .nav-menu-main ul.nav-menu-list :is(li.nav-menu-list-item:not(#orders_list, #reviews_list):hover .nav-menu-item .nav-menu-item-title, li.nav-menu-list-item ul.nav-submenu-list)::before {
    top: calc(var(--forty-pixels) * -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}

.nav-menu.close .nav-menu-main ul.nav-menu-list :is(li.nav-menu-list-item:not(#orders_list, #reviews_list):hover .nav-menu-item .nav-menu-item-title, li.nav-menu-list-item ul.nav-submenu-list)::after {
    bottom: calc(var(--forty-pixels) * -1);
}

.nav-menu.close .nav-menu-main ul.nav-menu-list :is(li.nav-menu-list-item.active, li.nav-menu-list-item:hover) > .nav-menu-item,
.nav-menu.close .nav-menu-main ul.nav-menu-list li.nav-menu-list-item:hover ul.nav-submenu-list :is(li.nav-submenu-list-item.active, li.nav-submenu-list-item:hover) > .nav-submenu-item {
    padding: 0;
}

.nav-menu.close .nav-menu-main ul.nav-menu-list li.nav-menu-list-item:hover ul.nav-submenu-list :is(li.nav-submenu-list-item.active, li.nav-submenu-list-item:hover) {
    padding: var(--ten-pixels) var(--sixteen-pixels);
}

.nav-menu.close .nav-menu-footer {
    margin-top: var(--five-pixels);
}

.nav-menu.close .nav-menu-footer .nav-menu-item-icon {
    margin-inline: auto;
}

.nav-menu.close ~ .main-admin-body,
.nav-menu.close ~ .footer {
    left: var(--sixty-four-pixels);
    width: calc(100% - var(--sixty-four-pixels));
}

.nav-menu.close ~ .main-admin-body .container {
    max-width: 100% !important;
}

/*********************************************************************/


/* ======================================== Main Body ======================================== */
.main-admin-body {
    left: 15rem;
    width: calc(100% - 15rem);
    min-height: 100dvh;
    background-color: var(--light-gray-color);
}

.main-admin-body :is(.main-header, .main-body) {
    padding-inline: var(--twenty-pixels);
}

.main-body {
    min-height: 100dvh;
    padding-block: var(--thirty-five-pixels);
}

/*++++++++++++++++++++++++++++++++++++++++++++++*/


/* --------------=============== Main Header ===============-------------- */
.main-admin-body .main-header {
    padding-block: var(--twenty-pixels);
    background-color: var(--white-color);
    -webkit-box-shadow: 0 var(--eight-pixels) var(--fifty-pixels) rgba(132, 139, 200, 0.18);
    -moz-box-shadow: 0 var(--eight-pixels) var(--fifty-pixels) rgba(132, 139, 200, 0.18);
    -o-box-shadow: 0 var(--eight-pixels) var(--fifty-pixels) rgba(132, 139, 200, 0.18);
    box-shadow: 0 var(--eight-pixels) var(--fifty-pixels) rgba(132, 139, 200, 0.18);
}

.main-admin-body .main-header .main-header-admin-notifications-profile .admin-notifications > .notifications-icon:focus {
    color: var(--second-color);
}

.main-admin-body .main-header .main-header-admin-notifications-profile .admin-notifications > .notifications-icon .notifications-count,
.main-admin-body .main-header .main-header-admin-notifications-profile .admin-notifications > .notifications-icon::after {
    display: none;
}

.main-admin-body .main-header .main-header-admin-notifications-profile .dropdown-menu {
    inset: calc(var(--twenty-two-pixels) + 100%) 0 auto auto !important;
    z-index: 15;
    color: var(--black-color);
    -ms-transform: none !important;
    transform: none !important;
}

.main-admin-body .main-header .main-header-admin-notifications-profile .notifications-list {
    width: calc(var(--sixty-pixels) * 5.5);
}

.main-admin-body .main-header .main-header-admin-notifications-profile .notifications-list::before {
    content: "";
    position: absolute;
    right: 0;
    display: block;
    width: var(--eighteen-pixels);
    height: var(--twenty-pixels);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: var(--main-color);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}

.main-admin-body .main-header .main-header-admin-notifications-profile .notifications-list .notifications-title {
    line-height: var(--twenty-five-pixels);
    background-color: var(--main-color);
}

.main-admin-body .main-header .main-header-admin-notifications-profile .notifications-list .notifications-title .notifications-title-mark:hover {
    color: var(--second-color) !important;
    text-decoration: underline;
}

.main-admin-body .main-header .main-header-admin-notifications-profile .notifications-list ul.notifications-details {
    max-height: calc((var(--sixty-four-pixels) * 3) + var(--sixteen-pixels));
    overflow-y: auto;
}

.main-admin-body .main-header .main-header-admin-notifications-profile .notifications-list ul.notifications-details li.notification-item {
    padding: var(--fifteen-pixels);
}

.main-admin-body .main-header .main-header-admin-notifications-profile .notifications-list ul.notifications-details li.notification-item:not(.no-notifications):hover {
    background-color: var(--light-gray-color);
}

.main-admin-body .main-header .main-header-admin-notifications-profile .notifications-list ul.notifications-details li.notification-item:not(:first-child)::before {
    content: "";
    position: absolute;
    top: calc(var(--twelve-pixels) * -1);
    left: 50%;
    width: 90%;
    margin-block: var(--ten-pixels);
    border-top: var(--gray-border);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.main-admin-body .main-header .main-header-admin-notifications-profile .notifications-list ul.notifications-details li.notification-item .new-notification-circle {
    right: var(--eight-pixels);
    width: var(--ten-pixels);
    height: var(--ten-pixels);
}
