@font-face {
    font-family: AngelinaRegular;
    src: url('../../fonts/AngelinaRegular.ttf');
}


/* -----------------================== Left Side ==================----------------- */
.checkout-main .left-side .shipping-payment {
    padding-inline: calc(var(--sixty-four-pixels) + var(--sixty-four-pixels)) var(--sixty-four-pixels);
}

.checkout-main .left-side .shipping-payment .shipping-payment-header .shipping-payment-logo {
    font: 500 var(--thirty-pixels)/2 'AngelinaRegular', 'Poppins', system-ui, sans-serif;
    letter-spacing: var(--four-pixels);
    color: var(--black-color);
}

.checkout-main .left-side .shipping-payment .shipping-payment-header .shipping-payment-logo:hover {
    color: var(--main-color);
}

.checkout-main .left-side .shipping-payment .shipping-payment-main .shipping-contact-info ul.shipping-contact-info-details li span:last-child {
    color: var(--black-color);
}

.checkout-main .left-side .shipping-payment .shipping-payment-main .shipping-details .shipping-details-header .shipping-details-new-address > * {
    color: var(--main-color) !important;
}

.checkout-main .left-side .shipping-payment .shipping-payment-main .shipping-details .shipping-details-header .shipping-details-new-address > i {
    font-size: var(--twelve-pixels) !important;
}

.checkout-main .left-side .shipping-payment .shipping-payment-main .shipping-details .shipping-details-addresses .shipping-address {
    row-gap: var(--sixteen-pixels);
}

.checkout-main .left-side .shipping-payment .shipping-payment-main .shipping-details .shipping-details-addresses .shipping-address .card .custom-check {
    left: var(--fourteen-pixels);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.checkout-main .left-side .shipping-payment .shipping-payment-main .shipping-details .shipping-details-addresses .shipping-address .card:has(input[type="radio"]:checked) {
    animation: pulse 500ms linear;
}

.checkout-main .left-side .shipping-payment .shipping-payment-main .shipping-details .shipping-details-addresses .shipping-address .card ul.list-group li.list-group-item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.checkout-main .left-side .shipping-payment .shipping-payment-main .shipping-details .shipping-payment-method .select-payment {
    background-color: var(--light-gray-color);
}

.checkout-main .left-side .shipping-payment .shipping-payment-main .shipping-details .shipping-payment-method .select-payment .payment-method-label {
    padding-left: var(--thirty-pixels);
}

.checkout-main .left-side .shipping-payment .shipping-payment-main .shipping-details .shipping-payment-method .select-payment .payment-method-label span:first-child {
    margin-top: var(--four-pixels);
}

/*********************************************************************/


/* -----------------================== Right Side ==================----------------- */
.checkout-main .main-sides .right-side {
    border-left: var(--two-pixels) solid var(--border-color);
    background-color: var(--light-gray-color);
}

/*********************************************************************/


/* -----------------================== Errors ==================----------------- */
ul.order-shipping-error {
    padding-left: var(--eighteen-pixels);
    font-size: var(--thirteen-pixels);
    list-style: disc;
}

ul.order-shipping-error li {
    margin-bottom: var(--eleven-pixels);
}
